body {
	background-color: rgb(0, 8, 7);
	font-family: Arial, Helvetica, sans-serif;
}

.search-container {
	display: flex;
	align-items: center;
	width: 500px;
	height: 50px;
	margin: auto;
	margin-top: 24px;
	background-color: #f2f2f2;
	border-radius: 25px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search-input {
	width: 80%;
	height: 100%;
	padding: 0 20px;
	font-size: 16px;
	border: none;
	border-radius: 25px;
	outline: none;
	background-color: #f2f2f2;
}

.search-button {
	width: 20%;
	height: 100%;
	background-color: #0353A4;
	border: none;
	border-radius: 0 25px 25px 0;
	color: #ffffff;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

ul {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
	margin-top: 24px;
}

li {
  background-color: #0353A4;
	color: white;
  //border: 1px solid lightgray;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  padding: 16px;
  text-align: center;
}

#result img {
  width: 500px;
  height: auto;
  max-width: 100%;
  max-height: 250px;
	object-fit: contain;
}